.admission-assistance__heading{
    font-size: 26px;
}
.admission-assistance__heading span{
    color: var(--cinnabar);
}
.admission-assistance__img{
    padding: 10px 0;
    width: 100%;
}
.admission-assistance__img img{
    object-fit: cover;
}
.admission-assistance__para p{
    font-size: 16px;
    padding: 10px 0;
}
.admission-assistance_second-level-heading{
    font-size: 24px ;
}
.admission-assistance_second-level-heading h3 span{
    color: var(--cinnabar);
}
.admission-assistance__unordered-list{
    padding: 0 0 10px 40px ;
}
.admission-assistance__unordered-list ul li{

    color: var(--cinnabar);
    list-style-type: disc;
    font-size: 16px;
}
.admission-assistance__unordered-list ul li span{
        color:var(--black);
}
.admission-assistance_last_heading{
    padding: 50px 0;
    font-size: 32px;
    text-align: center;
}
.admission-assistance_last_heading span{
    color: var(--cinnabar);
}
.admission-assistance_last_heading a{
    font-size: 26px;
    font-weight: 500;
    color:var(--cinnabar);
}
.admission-assistance_last_heading a:hover{
    color: var(--black);
}