.config-text-des{
    padding: 50px 0;
}

.config-text-des__title_division h2{
    font-size: 40px;
    text-align: center;
    
}

.config-text-des__title_division h2 span{
    color: var(--cinnabar);
}

.config-text-des__detail-and-para_container h2{
font-weight: 500;

    font-size: 36px;
    font-weight: 300;
    padding-bottom: 30px;
}
.config-text-des__detail-and-para_container_paragraph{
    padding: 10px 10px 15px 0 ;
}
.config-text-des__detail-and-intro-para_container_paragraph{
    padding: 0 20px 20px 0;
}
.config-text-des__detail-and-intro-para_container_paragraph p{
    font-size: 18px;
    width: 80%;


}
.config-text-des__detail-and-para_container_paragraph p{
    width: 80%;
    font-size: 16px;
}
