/* custom-pagination */
.custom-pagination{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination a {
    color:  #3b5998;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #3b5998;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  /*end custom-pagination */