:root {
    --elephant: #104547;
    --cinnabar: #E13833;
    --sea-pink: #F0A19F;
    --outer-space-heading: #262E2E;
    --pumice-txt: #C9CAC9;
    --alabaster-background: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}