/* image-logo-keyfact section */
.image-logo-keyfact{
    height:450px;
    width: 100%;
    background-color: #ffffff;
}
.image-logo-keyfact h3{
    font-size: 30px;
    color: #333333;
    padding: 20px 10%;
    }
    .buttons {
        margin: 0px;
        height: 60px;
        width: 60%;
        padding: 10px;
        display: flex;
        gap: 5px;
        top: 5%;
       margin-left: 8%;
    }
    
    .buttons .btn {
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px solid #979797;
        background-color: #fff;
    }
    .buttons .active {
        background-color: #979797;
        color: white;
      }
      
      .buttons .btn:hover:not(.active) {background-color: #ddd;}
      
    .image-logo-keyfact-lay{
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .left_icon {
        height: 60px;
        width: 5%;
        position: absolute;
        top: 40%;
        left: 6%;
        z-index: 5;
    }
    
    .right_icon {
        height: 60px;
        width: 5%;
        position: absolute;
        top: 40%;
        right:5%;
        z-index: 5;
    }
    
    .icons {
        margin: 5px 2px;
        height: 50px;
        width: 50px;
        background-color: #FFFFFF;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px 2px #cfcece;
        cursor: pointer;
    }
    
    .icons i {
        color: var(--#474747);
        font-size: 22px;
        padding: 15px 15px;
    }
    .row{
        margin-top: 25px;
        height: 300px;
        width: 83%;
        display: flex;
        justify-content: space-between;
    }
    .col3{
        height: 250px;
width: 24%;
border-radius: 5px;
border: 2px solid #cecdcd;
    }
    .name{
        padding: 15PX 10px;

        height: 70px;
        width: 100%;
    }
    .name button{
margin-top: 1px;
        padding: 7px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #979797;
    }
    .name p{
        font-size: 18px;
        font-weight: 500;
        padding: 3px 5px;

    }
    .name p:hover{
        color: orangered;
    }
    .content1:hover span{
        color: orangered;

    }
    .content{
        margin-top: 10px;
        width: 100%;
        height: 20px;
        position: relative;
    }
    p .left{
        display: inline-block;
        position: absolute;
        left: 10px;
        font-size: 15px;
        color: #979797;
    }
    p .right{
        display: inline-block;
        position: absolute;
        right: 10px;
        font-size: 15px;
        font-weight: 600;
        color: #080808;
    }
    .content1{
        margin-top: 10px;
        width: 100%;
        height: 20px;
        position: relative;
    }
    p .left1{
        display: inline-block;
        position: absolute;
        left: 10px;
        font-size: 15px;
        color: #080808;
    }
    p .right1{
        display: inline-block;
        position: absolute;
        right: 10px;
        font-size: 15px;
        font-weight: 600;
        color: #080808;
    }
    .line{
        margin:  40px 13px 10px;
        height: 1px;
        width: 90%;
        background-color: #cfcdcd;
    }
/* end image-logo-keyfact section */