        .swiper {
            width: 100%;
            height: 50vh;
        }

        .swiper-slide {
            width: 100%;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

        }



        .swiper-slide .quote-main {
            text-align: left;
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0rem;
            width: 80%;
        }

        .swiper-slide .quote-main .quote-icon i {
            color: var(--cinnabar);
            font-size: 3.4rem;

        }

        .swiper-slide .quote-main .quote-des {
            width: 60rem;
        }

        .swiper-slide .quote-main .quote-des p {
            font-size: 1.4rem;
            color: var(--outer-space-heading);
            letter-spacing: 0.1rem;
            font-weight: 600;
            padding: 1rem 0;
        }

        .swiper-slide .quote-main .quote-des h3 {
            font-weight: 600;
            font-size: 2rem;
            padding: 0 0 1rem 0;
        }

        .quote-image {
            width: 30%;
            height: 30rem;
            position: absolute;
            right: 0;
        }

        .quote-image img {
            object-fit: cover;
        }


        .quote-section {
            height: 100vh;
        }

        .quote-section .quote-title {
            text-align: center;
            padding: 6rem 0;
            position: relative;
        }

        .quote-section .quote-title span {
            font-size: 1.4rem;
            font-weight: 800;
            padding: 2rem 0;
        }

        .quote-section .quote-title h2 {
            padding: 2rem 0;
            font-size: 4rem;
            width: 80rem;
            margin: auto;
            color: var(--black);
        }

        .quote-section .quote-title h2::after {
            top: 13rem;
            content: '';
            position: absolute;
            left: 61rem;
            bottom: 0rem;
            width: 6%;
            margin: auto;
            height: 3px;
            background: var(--cinnabar);
        }