/* about page start */
.about_paddding{
    padding:0px 10px;
}
.about_p{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 10px;

}

.about_li li{
    list-style-type:disc;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

/* about section */
.about{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about_content{
    margin-top: 20px;
    height: 76vh;
width: 90%;
display: flex;
justify-content: space-evenly;
}
.about_content .col4{
    width: 30%;
    height: 99%;
    background-color: #fafafa;
    position: relative;
    overflow: hidden;
}
.col4:hover{
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 2px #1045471a ;
}
.col4:hover.col4::after{
    bottom: 0;
}
.col4::after{
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 3px solid #1045471a;
    border-top: none;
    border-bottom: none;
    position: absolute;
    transition: .5s;
    bottom: -100%;

}
.col4:hover.col4::before{
    left: 0;
}
.col4::before{
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 3px solid #1045471a;
    border-right: none;
    border-left: none;
    position: absolute;
    transition: .5s;
    left: -100%;

}
.about_content .heading{
   display: flex;
   justify-content: center;
height: 110px;
width: 100%;
}
.heading .icon{
margin-top: 30px;
    text-align: center;
    height: 80px;
    width: 80px;
    background-color:#e13833;
    border-radius: 50%;
}
.icon i{
    margin:  25px 0px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.col4:hover .icon{
    background-color: white;
    border: 3px solid #104547;
}
.col4:hover i{
    color: #e13833;

}
 .h3{
    margin-top: 10px;
    color: #e13833;
    font-size: 25px;
    text-align: center;
}
.p{
    margin-top: 10px;
    padding: 20px;
    font-size: 17px;
    color: rgb(99, 98, 98);
    text-align: justify;
}
/* about page end */