<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/card-image-btn.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- external css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
<body>
    <!-- card-image-btn -->
    <section class="card-image-btn">
        <!-- heading section -->
<div class="card-image-btn-headline">
    <h3>DON'T KNOW WHAT TO CHOOSE ?</h3>
        <h3>CHOOSE BY YOUR LEVEL</h3>
        <p>Collegedunia.com is an extensive search engine for the students, parents,</p>
            <p>and education industry players who are seeking information</p>
</div>
        <!-- end heading section -->
        <!-- button section -->
        <div class="button_section">
            <div class="row">
                <div class="col4">
                    <div class="image">
                        <img src="/images/card-image-btn/1.jpeg" alt="">
                    </div>
                    <div class="button">
                        <button class="btn">
                            <div class="btn-i"><a href="">16</a></div>
                            <div class="butn"><a href="">Iti</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">4</a></div>
                            <div class="butn"><a href="">Arts</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">2</a></div>
                            <div class="butn"><a href="">Dental</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">1</a></div>
                            <div class="butn"><a href="">Animation</a></div>
                        </button> <button class="btn">
                            <div class="btn-i"><a href="">1</a></div>
                            <div class="butn"><a href="">Hotel Management</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">1</a></div>
                            <div class="butn"><a href="">Vocational Courses</a></div>
                        </button>
                    </div>
                </div>
                <div class="col4"><div class="image">
                    <img src="/images/card-image-btn/2.jpeg" alt="">
                </div>
                <div class="button">
                    <button class="btn">
                        <div class="btn-i"><a href="">67</a></div>
                        <div class="butn"><a href="">Science</a></div>
                    </button>
                    <button class="btn">
                        <div class="btn-i"><a href="">214</a></div>
                        <div class="butn"><a href="">Management</a></div>
                    </button>
                   
                    <button class="btn">
                        <div class="btn-i"><a href="">126</a></div>
                        <div class="butn"><a href="">Medical</a></div>
                    </button>
                    <button class="btn">
                        <div class="btn-i"><a href="">109</a></div>
                        <div class="butn"><a href="">Science</a></div>
                    </button>
                    <button class="btn">
                        <div class="btn-i"><a href="">103</a></div>
                        <div class="butn"><a href="">Arts</a></div>
                    </button>
                    
                    <button class="btn">
                        <div class="btn-i"><a href="">25</a></div>
                        <div class="butn"><a href="">Law</a></div>
                    </button>
                    <button class="btn">
                        <div class="btn-i"><a href="">22</a></div>
                        <div class="butn"><a href="">Commerce</a></div>
                    </button> <button class="btn">
                        <div class="btn-i"><a href="">20</a></div>
                        <div class="butn"><a href="">Dental</a></div>
                    </button>
                    <button class="btn">
                        <div class="btn-i"><a href="">15</a></div>
                        <div class="butn"><a href="">Pharmacy</a></div>
                    </button>
                </div>
            </div>
                <div class="col4">
                    <div class="image">
                        <img src="/images/card-image-btn/3.jpeg" alt="">
                    </div>
                    <div class="button">
                        <button class="btn">
                            <div class="btn-i"><a href="">67</a></div>
                            <div class="butn"><a href="">Science</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">64</a></div>
                            <div class="butn"><a href="">Arts</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">35</a></div>
                            <div class="butn"><a href="">Medical</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">35</a></div>
                            <div class="butn"><a href="">Engineering</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">4</a></div>
                            <div class="butn"><a href="">Law</a></div>
                        </button>
                        <button class="btn">
                            
                            <div class="btn-i"><a href="">22</a></div>
                            <div class="butn"><a href="">Management</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">8</a></div>
                            <div class="butn"><a href="">Pharmacy</a></div>
                        </button>
                        
                        <button class="btn">
                            <div class="btn-i"><a href="">7</a></div>
                            <div class="butn"><a href="">Commerce</a></div>
                        </button> <button class="btn">
                            <div class="btn-i"><a href="">6</a></div>
                            <div class="butn"><a href="">Agriculture</a></div>
                        </button>
                     
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col4">
                    <div class="image">
                        <img src="/images/card-image-btn/1.jpeg" alt="">
                    </div>
                    <div class="button">
                        
                        <button class="btn">
                            <div class="btn-i"><a href="">2</a></div>
                            <div class="butn"><a href="">Dental</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">1</a></div>
                            <div class="butn"><a href="">Animation</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">16</a></div>
                            <div class="butn"><a href="">Iti</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">4</a></div>
                            <div class="butn"><a href="">Arts</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">1</a></div>
                            <div class="butn"><a href="">Hotel Management</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">1</a></div>
                            <div class="butn"><a href="">Vocational Courses</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">174</a></div>
                            <div class="butn"><a href="">Engineering</a></div>
                        </button>
                    </div>
                </div>
                <div class="col4"><div class="image">
                    <img src="/images/card-image-btn/2.jpeg" alt="">
                </div>
                <div class="button">
                    <button class="btn">
                        <div class="btn-i"><a href="">214</a></div>
                        <div class="butn"><a href="">Management</a></div>
                    </button>
                   
                    <button class="btn">
                        <div class="btn-i"><a href="">126</a></div>
                        <div class="butn"><a href="">Medical</a></div>
                    </button>
                    <button class="btn">
                        <div class="btn-i"><a href="">109</a></div>
                        <div class="butn"><a href="">Science</a></div>
                    </button>
                    <button class="btn">
                        <div class="btn-i"><a href="">103</a></div>
                        <div class="butn"><a href="">Arts</a></div>
                    </button>
                    
                    <button class="btn">
                        <div class="btn-i"><a href="">25</a></div>
                        <div class="butn"><a href="">Law</a></div>
                    </button>
                    <button class="btn">
                        <div class="btn-i"><a href="">22</a></div>
                        <div class="butn"><a href="">Commerce</a></div>
                    </button> <button class="btn">
                        <div class="btn-i"><a href="">20</a></div>
                        <div class="butn"><a href="">Dental</a></div>
                    </button>
                    <button class="btn">
                        <div class="btn-i"><a href="">15</a></div>
                        <div class="butn"><a href="">Pharmacy</a></div>
                    </button>
                </div>
            </div>
                <div class="col4">
                    <div class="image">
                        <img src="/images/card-image-btn/3.jpeg" alt="">
                    </div>
                    <div class="button">
                        <button class="btn">
                            <div class="btn-i"><a href="">67</a></div>
                            <div class="butn"><a href="">Science</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">64</a></div>
                            <div class="butn"><a href="">Arts</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">35</a></div>
                            <div class="butn"><a href="">Medical</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">35</a></div>
                            <div class="butn"><a href="">Engineering</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">4</a></div>
                            <div class="butn"><a href="">Law</a></div>
                        </button>
                        <button class="btn">
                            
                            <div class="btn-i"><a href="">22</a></div>
                            <div class="butn"><a href="">Management</a></div>
                        </button>
                        <button class="btn">
                            <div class="btn-i"><a href="">8</a></div>
                            <div class="butn"><a href="">Pharmacy</a></div>
                        </button>
                        
                        <button class="btn">
                            <div class="btn-i"><a href="">7</a></div>
                            <div class="butn"><a href="">Commerce</a></div>
                        </button> <button class="btn">
                            <div class="btn-i"><a href="">6</a></div>
                            <div class="butn"><a href="">Agriculture</a></div>
                        </button>
                     
                    </div>
                </div>
            </div>
        </div>
        <!-- end  button section -->

    </section>
    <!-- end card-image-btn -->
</body>
</html>