<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>custom-module</title>
    <link rel="stylesheet" href="../css/custom-module.css">
    <link rel="stylesheet" href="../css/image-icon-with-text.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- image-icon-with-text start -->
    <section class="image-icon-with-text" id="Course_Advice">
        <div class="image-icon-with-text__content col-10">
            <div class="image-icon-with-text__content__heading">
                <h2>Select Your <span class="heading-red">Study Goal</span></h2>
            </div>
            <div class="image-icon-with-text__card-container_padding row">
                <div class="image-icon-with-text__stream-card-container stream-card-container_style col-3">
                    <div class="stream-card-container_card-container">
                        <div class="stream-card-container_icon-and-heading row">
                            <div class="image-icon-with-text__icon-container">
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                            </div>
                            <div class="image-icon-with-text__head-container">
                                <h3 class="stream-card-container_heading">Engneering</h3>
                                <p class="stream-card-container_colleges-number">6170 Colleges</p>
                            </div>
                        </div>
                        <ul>
                            <li><a href="#">BE/B.TECH</a></li>
                            <li><a href="#">Diploma in Engineer</a></li>
                            <li><a href="#">ME/M.Tech</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="image-icon-with-text__card-container_padding row"> -->
                <div class="image-icon-with-text__stream-card-container stream-card-container_style col-3">
                    <div class="stream-card-container_card-container">
                        <div class="stream-card-container_icon-and-heading row">
                            <div class="image-icon-with-text__icon-container">
                                <i class="fa-solid fa-chart-line"></i>
                            </div>
                            <div class="image-icon-with-text__head-container">
                                <h3 class="stream-card-container_heading">Management</h3>
                                <p class="stream-card-container_colleges-number">7439 Colleges</p>
                            </div>
                        </div>
                        <ul>
                            <li><a href="#">MBA/PGDM</a></li>
                            <li><a href="#">BBA/BBM</a></li>
                            <li><a href="#">Executive MBA</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="image-icon-with-text__card-container_padding row"> -->
                <div class="image-icon-with-text__stream-card-container stream-card-container_style col-3">
                    <div class="stream-card-container_card-container">
                        <div class="stream-card-container_icon-and-heading row">
                            <div class="image-icon-with-text__icon-container">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                            <div class="image-icon-with-text__head-container">
                                <h3 class="stream-card-container_heading">Commerce</h3>
                                <p class="stream-card-container_colleges-number">4786 Colleges</p>
                            </div>
                        </div>
                        <ul>
                            <li><a href="#">B.Com</a></li>
                            <li><a href="#">M.Com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="image-icon-with-text__stream-card-container stream-card-container_style col-3">
                    <div class="stream-card-container_card-container">
                        <div class="stream-card-container_icon-and-heading row">
                            <div class="image-icon-with-text__icon-container">
                                <i class="fa-solid fa-palette"></i>
                            </div>
                            <div class="image-icon-with-text__head-container">
                                <h3 class="stream-card-container_heading">Arts</h3>
                                <p class="stream-card-container_colleges-number">5399 Colleges</p>
                            </div>
                        </div>
                        <ul>
                            <li><a href="#">BA</a></li>
                            <li><a href="#">MA</a></li>
                            <li><a href="#">BFA</a></li>
                            <li><a href="#">BSW</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- image-icon-with-text end -->
    
    <section class="abroad-study-options container">
        <h3 class="abroad-study-options__heading">Select Your <span class="abroad-study-options__heading_span">Dream
                Destination</span></h3>
        <div class="abroad-study-options__card_container">
            <!-- canada  -->
            <div class="abroad-study-options__card_container_item col-4">
                <div class="abroad-study-options__card_container_item_details">
                    <div class="abroad-study-options__card_container_item_details_img-container">
                        <img src="https://cosmoconsultants.in/images/Study-in-Canada-1.jpg" alt="canada-img">
                    </div>
                    <div class="abroad-study-options__card_container_item_details_country_name">
                        <div class="abroad-study-options__card_container_item_details_country_name_icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/1280px-Flag_of_Canada_%28Pantone%29.svg.png"
                                alt="canada-flag-img">
                        </div>
                        <div class="abroad-study-options__card_container_item_details_country_name_heading">
                            <h4
                                class="abroad-study-options__card_container_item_details_country_name_heading_level_four">
                                study in canada</h4>
                        </div>
                    </div>
                    <div class="abroad-study-options__card_container_item_details__para">
                        <a href="#">
                            Don’t miss your chance to study and settle in one of the most livable countries of the world
                            with 223 Universities and 750,000+ International Students
                        </a>
                    </div>
                    <div class="abroad-study-options__card_container_item_details__readmore">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <!-- uk -->
            <div class="abroad-study-options__card_container_item col-4">
                <div class="abroad-study-options__card_container_item_details">
                    <div class="abroad-study-options__card_container_item_details_img-container">
                        <img src="https://img.freepik.com/free-photo/big-ben-westminster-bridge-sunset-london-uk_268835-1395.jpg?w=740&t=st=1709619678~exp=1709620278~hmac=b18fa59f86fc8de1ee55f523c2498b0a73ae47f3e331b7ab54ae02e66cb614ad" alt="canada-img">
                    </div>
                    <div class="abroad-study-options__card_container_item_details_country_name">
                        <div class="abroad-study-options__card_container_item_details_country_name_icon">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png"
                                alt="uk-flag-img">
                        </div>
                        <div class="abroad-study-options__card_container_item_details_country_name_heading">
                            <h4
                                class="abroad-study-options__card_container_item_details_country_name_heading_level_four">
                                study in uk
                            </h4>
                        </div>
                    </div>
                    <div class="abroad-study-options__card_container_item_details__para">
                        <a href="#">
                            Explore your academic opportunities with the numero uno global education destination with
                            223 Universities and 1.2 million+ International Students
                        </a>
                    </div>
                    <div class="abroad-study-options__card_container_item_details__readmore">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <!-- usa  -->
            <div class="abroad-study-options__card_container_item col-4">
                <div class="abroad-study-options__card_container_item_details">
                    <div class="abroad-study-options__card_container_item_details_img-container">
                        <img src="https://images.unsplash.com/photo-1508433957232-3107f5fd5995?q=80&w=1486&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="usa-img">
                    </div>
                    <div class="abroad-study-options__card_container_item_details_country_name">
                        <div class="abroad-study-options__card_container_item_details_country_name_icon">
                            <img src="https://m.media-amazon.com/images/I/61y-BryGPqL._AC_SL1100_.jpg" alt="usa-flag">
                        </div>
                        <div class="abroad-study-options__card_container_item_details_country_name_heading">
                            <h4
                                class="abroad-study-options__card_container_item_details_country_name_heading_level_four">
                                study in usa</h4>
                        </div>
                    </div>
                    <div class="abroad-study-options__card_container_item_details__para">
                        <a href="#">
                            The seat of one of the oldest and the most renowned education systems, globally with 223
                            Universities and 600,000+ International Students
                        </a>
                    </div>
                    <div class="abroad-study-options__card_container_item_details__readmore">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>