<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Provide-career-Guidance.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
  

    <!-- Breadcrumb Section End -->

    <section class="config-text-des container">
        <div class="config-text-des__main-container d-flex">
            <div class="config-text-des__title_division col-4">
                <h3>Table of Contents</h3>
                <div class="line"></div>
                <p>What exactly does a study abroad consultant do during the student visa application process? 
                </p>
                <ol><li> Assessing Eligibility</li>
                2. Providing guidance on documentation
                3. Preparing the student visa application
                4. Scheduling appointments
                5. Preparing for the visa interview
                6. Following up on visa status
                7. Offering post-visa support
                Conclusion</ol>
            </div>
            <div class="config-text-des__detail-and-para_container col-8">
                <h2>
                    Intro
                </h2>
            </div> 
        </div>
    </section>
    <!-- Provide career Guidance end -->
</body>
</html>