<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study in canada</title>
    <link rel="stylesheet" href="../css/study-in-canada.css">
    <link rel="stylesheet" href="../css/global.css">
</head>

<body>
    <section class="study-abroad-details">
        <!-- custom-tab button -->
        <div class="custom-tab__button">
            <div class="custom-tab__button__btn_container">
                <div class="row">
                    <div class="button-container">
                        
                        <div class="buttons">
                            <button type="button" class="btn" id="button1"><a href="#WhyStudyInCanada">Why Study In
                                    canada</a></button>
                            <button type="button" class="btn" id="button1"><a href="#benefits">Benefits</a></button>
                            <button type="button" class="btn" id="button1"><a href="#educationsystem">Education
                                    System</a></button>
    
                            <button type="button" class="btn" id="button1"><a href="#TopUni">Top
                                    Universities</a></button>
                            <button type="button" class="btn" id="button1"><a href="#bestplacetostudy">Best Places
                                </a></button>
                            <button type="button" class="btn" id="button1"><a href="#intake">Intakes</a></button>

                            <button type="button" class="btn" id="button1"><a href="#visarequierment">Student
                                    Visa</a></button>
                            <button type="button" class="btn" id="button1"><a href="#documentRe">Documents
                                </a></button>
                            <button type="button" class="btn" id="button1"><a href="#costincanada">Cost of
                                    Studying</a></button>
                            <button type="button" class="btn" id="button1"><a href="#Eddloan">
                                    Education
                                    Loan</a></button>
                            <button type="button" class="btn" id="button1"><a href="#costofliving">Cost of
                                    Living</a></button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end custom-tab button -->
        <!-- page content  -->
        <div class="study-in-canada container">
            <div class="study-in-canada__heading">
                <h2 class="study-in-canada__heading-level-two font32">Study in <span
                        class="study-in-canada__heading-level-two_span">Canada</span></h2>
            </div>
            <div class="study-in-canada__heading_para_container">
                <p class="study-in-canada__heading_para">
                    Want to study in Canada? With nearly half a million international students,<strong> Canada stands
                        out as a
                        top destination offering world-class education, affordable tuition fees, hassle-free visa
                        applications.</strong> It offers a superior standard of living, diverse learning environments,
                    quality
                    education, and career opportunities. Canada's international student population has tripled over the
                    past decade, as many of the prestigious institutions frequently securing top position in global
                    rankings.
                </p>
                <p class="study-in-canada__heading_para">
                    In recent years, Indian student enrollment in Canada has remarkably increased by 260% with 800,000
                    students in 2022. Indians make up over 28% of the international student population in Canada. In
                    2023, approximately 753,000 students obtained a Canada student visa. According to the U.S. News &
                    World Report 2022, Canada ranks 3rd globally for quality of life. Canada is also home to numerous
                    top-ranked universities. Among the Times Higher Education rankings for 2023, 7 Canadian universities
                    rank within the top 200 worldwide. Students from Asian countries like India, China, and Korea
                    contribute notably to Canada's international student community mainly for its welcoming, safe, and
                    friendly environment.
                </p>
                <div id="WhyStudyInCanada" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Why Study in <span class="study-in-canada__heading-level-two_span"> Canada?</span>
                        </h2>
                    </div>
                </div>
                <p class="study-in-canada__heading_para">
                    <strong> Canada is a popular study-abroad destination among international students, offering quality
                        education at affordable fees, recognized degrees, a great quality of life, and opportunities for
                        work and immigration. </strong>With its excellent education system, hassle-free student visa
                    process, and job
                    prospects, many students prefer to study in Canada from all over the world, including India.
                    Canada's Immigration, Refugees and Citizenship Canada (IRCC) for 2022 reveals that the country
                    hosted 551,405 international students from 184 nations. Notably, 226,450 students were from India.
                    Situated in North America, Canada is the second largest country with top cities like Toronto and
                    Vancouver that offer stunning landscapes, diverse culture, and top-notch education.
                </p>
                <div class="whystudyIncanada__heading">
                    <h2 class="study-in-canada__heading-level-two font32">
                        Study in Canada: <span class="study-in-canada__heading-level-two_span"> Key Facts &
                            Statistics</span>
                    </h2>
                    <table>
                        <tr>
                            <th>Languages Spoken</th>
                            <td>English and French</td>
                        </tr>
                        <tr>
                            <th>Cost Of Study</th>
                            <td>CAD 30 - 40k</td>
                        </tr>
                        <tr>
                            <th>Sources of funding</th>
                            <td>Scholarships, Student Loans, and Part-time Jobs.</td>
                        </tr>
                        <tr>
                            <th>Exams Required</th>
                            <td>IELTS, TOEFL, PTE, GRE and GMAT.</td>
                        </tr>
                        <tr>
                            <th>Degrees</th>
                            <td>Diploma, UG, PG, and Doctorate (PhD).</td>
                        </tr>
                        <tr>
                            <th>Intakes</th>
                            <td>Fall, Winter, and Summer Intakes.</td>
                        </tr>
                        <tr>
                            <th>Visa</th>
                            <td>Canada Student Visa - SDS and Non-SDS</td>
                        </tr>
                        <tr>
                            <th>Best Student Cities</th>
                            <td>Montreal, Toronto, Vancouver, Ottawa, Quebec, and Edmonton.</td>
                        </tr>
                        <tr>
                            <th>Top Universities</th>
                            <td>University of Toronto, McGill University, University of British Columbia, University of
                                Montreal, and University of Alberta</td>
                        </tr>
                        <tr>
                            <th>Cost of Living</th>
                            <td>CAD $600 - 800 per month.</td>
                        </tr>
                    </table>
                </div>
                <p class="study-in-canada__heading_para">
                    From the above table, it is clear that international students planning to study in Canada are
                    required to get a student visa (SDS or Non-SDS), submit the English language proficiency test scores
                    of IELTS, TOEFL, or PTE and standardized test scores of GRE, SAT, or GMAT based on the program
                    levels you get admitted for.
                </p>
                <p class="study-in-canada__heading_para">
                    Indian students choose to study in Canada, among other English-speaking countries, primarily due to
                    its excellent education system, high standard of living, diverse environment, affordable education,
                    and long-term return on investment. Canadian educational institutions consistently rank among the
                    best globally, with 3 of the top 50 universities worldwide being from Canada. Canadian universities
                    and colleges are renowned for their top-notch academics, innovative research, and commitment to
                    providing quality education. Whether you're into engineering, arts, business, or other fields,
                    Canada offers a wide range of programs to attract students that match their interests and career
                    goals.
                </p>
            
                <iframe class="iframe-study" src="https://www.youtube.com/embed/HHsNWEDgIjE"
                    title="why people are leaving Canada | is it worth moving to Canada in 2024?" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <!-- benefits   -->
                <div id="benefits" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Top 12 Benefits of <span class="study-in-canada__heading-level-two_span"> Studying in
                                Canada</span>
                        </h2>
                    </div>
                </div>
                <p class="study-in-canada__heading_para">
                    Canada provides a wide range of higher education choices for international students. The country has
                    15 research institutions, 100 public universities, and 86 private colleges, all contributing to
                    students' academic growth. Community Colleges are also available for those seeking diploma degrees.
                    Universities offer various full-time and part-time courses like post-secondary diplomas and
                    certificates, post-graduate programs (online/hybrid/offline), short-term training, skills trade
                    training, professional license exam preparation, bachelor's degree programs, English as a Second
                    Language Training, and French Language Training. Indian students have the option to study in Canada
                    after completing their 12th grade, with various universities and colleges offering education in
                    English. To know why you need to pursue studies in Canada, check out below.
                </p>
                <p class="sub-heading"><strong>The benefits of <span class="study-in-canada__heading-level-two_span">
                            studying in Canada are </span>:</strong> </p>
                <ul class="orderedlist" type="dics">
                    <li><strong>Easy Visa Policy </strong>: The Student Direct Stream (SDS) is an expressway entry which
                        expedites the student visa application process within 20 working days.</li>
                    <li><strong>Abundant Job Opportunities</strong>: The Canadian job market offers a range of options
                        for both locals and immigrants, ensuring competitive salaries.</li>
                    <li><strong>Quality Education</strong>: With top-ranked universities and numerous scholarship
                        opportunities, Canada offers top-notch education at affordable fees.</li>
                    <li><strong>World-Class Universities</strong>: Canada's universities consistently rank among the top
                        globally, with 9 in the top 200 by QS Rankings and 7 in THE Rankings 2023, providing an
                        international research network, employment outcomes, etc.</li>
                    <li><strong>Immigration Opportunities</strong> : The Post-Graduation Work Permit (PGWP) allows
                        students to gain work experience after graduation, and the Open Work Permit lets graduates stay
                        and work in Canada for 5 years.</li>
                    <li><strong>Skilled Faculties</strong>: Canadian institutions have highly educated and specialized
                        faculty members.</li>
                </ul>

                <!-- eduvation heading   -->
                <div id="educationsystem" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Education System in <span class="study-in-canada__heading-level-two_span"> Canada </span>
                        </h2>
                    </div>
                </div>
                <p class="study-in-canada__heading_para">
                    Canada is well-known for its affordable and highly regarded education system, attracting many
                    international students. Nearly 400% of international students have chosen to study in Canada. The
                    education system in Canada is categorized into three levels: <strong> Elementary, Secondary, and
                        Post-secondary Education.</strong> Once students finish their elementary and secondary schooling
                    at around
                    16-18 years, they can move on to Post-secondary Education. The government of each province in Canada
                    manages the education system. Even though study levels might vary in different areas, Canada's
                    education is the cheapest and recognized worldwide. Check the below table to know the education
                    system in Canada.
                </p>
                <table>
                    <tr>
                        <th>Qualification</th>
                        <th>Duration</th>
                    </tr>
                    <tr>
                        <td>Certificate</td>
                        <td>1-year</td>
                    </tr>
                    <tr>
                        <td>Diploma</td>
                        <td>1-2 year</td>
                    </tr>
                    <tr>
                        <td>Advanced Diploma</td>
                        <td>2-3 year</td>
                    </tr>
                    <tr>
                        <td>Bachelor’s Degree</td>
                        <td>4 year</td>
                    </tr>
                    <tr>
                        <td>Post-Graduate Diploma/Cert. </td>
                        <td>2 - 3 year</td>
                    </tr>
                    <tr>
                        <td>Master’s Degree</td>
                        <td>1-2 year</td>
                    </tr>
                    <tr>
                        <td>Doctorate or Ph.D.</td>
                        <td>4 to 7 years</td>
                    </tr>
                    <tr>
                        <td>Post-doctoral program</td>
                        <td>No limit</td>
                    </tr>
                </table>
                <!-- Top Universities to Study in Canada  -->
                <div id="TopUni" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Top Universities to <span class="study-in-canada__heading-level-two_span">Study in
                                Canada</span>
                        </h2>
                    </div>
                </div>
                <p class="study-in-canada__heading_para">
                    Canada has prestigious universities that offer a range of degree programs with top-notch facilities,
                    including modern libraries, spacious auditoriums, and advanced research centers, setting a standard
                    for quality education. Universities in Canada offer on-campus accommodation which includes cozy
                    dormitories, residential halls, and apartments, ensuring a safe and enjoyable environment for
                    students.
                </p>
                <p class="study-in-canada__heading_para">
                    Currently, 31 Canadian universities have ranked in the QS World University Ranking 2023 list.
                    Notably, the top 11 among them have secured spots within the top 250 rankings. Let's take a look at
                    the top 10 Canadian universities for the academic year 2023, along with their current rankings in
                    both QS World University, Times Higher Education, and US News & World Report rankings.
                </p>
                <table>
                    <tr>
                        <th>University Name</th>
                        <th>University Known For</th>
                        <th>QS World University Ranking 2023 (Globally)</th>
                        <th>Times Higher Education Ranking 2023 (Globally)</th>
                        <th>Tuition Fee per year (CAD)</th>
                        <th>Tuition Fee per year (INR)</th>
                    </tr>
                    <tr>
                        <td>University of Toronto</td>
                        <td>Top research-intense university, innovation-driven</td>
                        <td>21</td>
                        <td>18</td>
                        <td>40,000</td>
                        <td>24.51 lakhs</td>
                    </tr>
                    <tr>
                        <td>McGill University</td>
                        <td>Renowned for Engineering courses</td>
                        <td>30</td>
                        <td>46</td>
                        <td>27,000</td>
                        <td>16 lakhs</td>
                    </tr>
                    <tr>
                        <td>University of British Columbia</td>
                        <td>Strong in teaching, research, consistent ranking</td>
                        <td>34</td>
                        <td>40</td>
                        <td>34,000</td>
                        <td>20 lakhs</td>
                    </tr>
                    <tr>
                        <td>University of Montreal</td>
                        <td>Largest university complex, prominent research</td>
                        <td>141</td>
                        <td>111</td>
                        <td>17000</td>
                        <td>10.41 lakhs</td>
                    </tr>
                    <tr>
                        <td>University of Alberta</td>
                        <td> Top in Engineering, Humanities, Health Sciences, Business</td>
                        <td>118</td>
                        <td>111</td>
                        <td>21000</td>
                        <td>12 lakhs</td>
                    </tr>
                    <tr>
                        <td>University of Waterloo</td>
                        <td>Leading in Computer Science, Engineering, Science, Math</td>
                        <td>112</td>
                        <td>201-250</td>
                        <td>40000</td>
                        <td>24 lakhs</td>
                    </tr>
                    <tr>
                        <td>Western University</td>
                        <td>Excellence in education, research, healthcare</td>
                        <td>114</td>
                        <td>201-250</td>
                        <td>23000</td>
                        <td>14 lakhs</td>
                    </tr>
                    <tr>
                        <td>University of Calgary</td>
                        <td>Strong research, diverse university culture</td>
                        <td>182</td>
                        <td>201-250</td>
                        <td>37000</td>
                        <td>22 lakhs</td>
                    </tr>
                </table>
                <!-- Best Places to Study in Canada  -->
                <div id="bestplacetostudy" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Best Places to <span class="study-in-canada__heading-level-two_span">Study in
                                Canada</span>
                        </h2>
                    </div>
                </div>
                <p class="study-in-canada__heading_para">
                    If you're considering studying in your preferred university, you must also explore best student
                    cities in Canada. According to the QS Best Student Cities Rankings 2023, the top cities in Canada
                    are <strong> Toronto, Montreal, Vancouver, Ottawa, and Quebec </strong>. Get to know the popular
                    cities of Canada in
                    brief.
                </p>
                <p class="study-in-canada__heading_para">
                    <strong> Toronto</strong>: Toronto, situated in the province of Ontario has Canada's most esteemed
                    university, the University of Toronto. It's not only the largest city in Canada but also renowned
                    for its multicultural environment. It is known as the financial center of Canada as it's home to
                    five of the country's largest banks.
                </p>
                <p class="study-in-canada__heading_para">
                    <strong>Montreal</strong>: As Canada's second-largest city, Montreal stands out with a high
                    concentration of post-secondary students. Montreal offers a thriving academic environment, home to
                    universities like McGill, Université de Montréal, and Concordia University.
                </p>
                <p class="study-in-canada__heading_para">
                    <strong>Vancouver</strong>: This vibrant Canadian city is the third-largest metropolis and is
                    considered one of the world's most livable cities. With universities like the University of British
                    Columbia, Simon Fraser University, and the University of Victoria, Vancouver is a great choice for
                    students who want both city life and easy access to the outdoors.
                </p>
                <p class="study-in-canada__heading_para">
                    <strong> Ottawa</strong>: Ottawa has great universities that welcome foreign students from various
                    fields and offer top-notch teaching and research. The city provides easy transportation, affordable
                    housing, jobs, and scholarships, making it a fantastic place to study in Canada
                </p>
                <p class="study-in-canada__heading_para">
                    <strong> Quebec</strong>: Quebec city is known for its friendly locals and holds the lowest
                    unemployment rate among all cities in Canada. It is a French-speaking city, but many universities
                    primarily use English as the medium of instruction. These universities offer outstanding education
                    at affordable rates and also offer plenty of career prospects.
                </p>

                <!-- Intakes to Study in Canada -->
                <div id="intake" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Intakes to
                            <span class="study-in-canada__heading-level-two_span">Study in
                                Canada</span>
                        </h2>
                    </div>
                </div>
                <p class="study-in-canada__heading_para">
                    Canadian colleges and universities stand apart from Indian institutions with their three intakes,
                    which are also known as semesters. Understanding the intakes in Canada is crucial for those aspiring
                    to study abroad, as it defines the periods during which universities globally accept applications.
                    <strong> Canadian universities offer three intakes namely Fall, Winter, and Summer</strong>. These
                    intakes signify the period when students from around the world can apply to Canadian educational
                    institutions.
                </p>
                <p class="study-in-canada__heading_para">
                    <strong>Fall Intake</strong>: Fall intake begins in September. It is the most popular choice among
                    Indian students with a wide range of courses and scholarship availability. In this intake, Canadian
                    universities receive the highest number of applications. Fall intake is also known as September
                    intake and Autumn intake.
                </p>
                <p class="study-in-canada__heading_para">
                    <strong>
                        Winter Intake
                    </strong>
                    : Winter intake is usually a secondary option that starts in January, suitable for those who missed
                    the Fall deadline. While the course selection may be limited compared to the September intake,
                    students can still expect similar prospects in terms of career opportunities, internships, and
                    scholarships. Winter intake is also known as the January intake.
                </p>
                <p class="study-in-canada__heading_para">
                    <strong> Summer Intake</strong>
                    : Summer intake, which commences around April and May, is the last option and is offered by only a
                    few universities. It offers diploma and vocational programs. Summer intake is also known as the
                    Spring intake or May intake.
                </p>

                <!-- Canada Student Visa Requirements for International Students -->
                <div id="visarequierment" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Canada Student Visa Requirements for
                            <span class="study-in-canada__heading-level-two_span">
                                International Students
                            </span>
                        </h2>
                    </div>
                </div>
                <p class="study-in-canada__heading_para">
                    International students who want to study in Canada need a study permit. It is a necessary
                    immigration document that validates their stay in Canada and accompanies a visitor visa or
                    Electronic Travel Authorization (eTA). Alongside the study permit, you need a visitor visa or eTA to
                    enter legally. This permit is essential for Indian students which grants permission to study at
                    Designated Learning Institutions (DLIs) in Canada.
                </p>
                <p class="study-in-canada__heading_para">
                    Please note that a study permit is not a visa. A student visa will authorize your entry to Canada.
                    To apply for a Canadian Student Visa, it's best to start the process 4 to 6 months before your
                    classes begin and after you've received an Admission Offer from a Canadian Designated Learning
                    Institute. You can apply online using the Government of Canada Key (GCKey) portal or at a Visa
                    Application Centre (VAC) or directly at the entry port if you prefer. The fee for applying for a
                    Canadian Student Visa is $150 CAD, and it also covers a $85 CAD biometrics fee and a $45 CAD service
                    fee.
                </p>
                <p class="study-in-canada__heading_para">
                    The study visa processing time will be around 4 to 8 weeks. If you're in a hurry, the Student Direct
                    Stream (SDS) option processes it in just 20 days. Indian students are eligible for the SDS category
                    and can apply by submitting the necessary documents for their student visa.
                </p>
                <p class="sub-heading">
                    <strong>
                        What are the documents required to apply for a Canadian study visa?
                    </strong>
                </p>
                <p class="study-in-canada__heading_para">
                    1. Valid passport or travel document
                </p>
                <p class="study-in-canada__heading_para">
                    2. Letter of acceptance from a Designated Learning Institution (DLI)
                </p>
                <!-- you need to add ul  -->

                <!-- Documents Required for Studying in Canada for Indian Students -->
                <div id="documentRe" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Documents Required for Studying in
                            <span class="study-in-canada__heading-level-two_span">
                                Canada for Indian Students
                            </span>
                        </h2>
                    </div>
                </div>
                <p class="sub-heading">
                    The documents you need to submit while applying for admission to Canadian universities/colleges are:
                </p>
                <!-- need to add ol -->

                <!-- Cost of Studying in Canada -->
                <div id="costincanada" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Cost of Studying
                            <span class="study-in-canada__heading-level-two_span">
                                in Canada
                            </span>
                        </h2>
                    </div>
                </div>

                <p class="study-in-canada__heading_para">
                    The cost of studying in Canada ranges from CAD 13,000 to CAD 35,000 in a year based on the type of
                    degree and institution. Humanities, education, and arts programs tend to be more affordable, while
                    medicine and engineering are pricier. On average, undergraduate studies cost around CAD 6,800 (Rs.
                    4,16,582/-) per year, and master's programs range from CAD 21,100 annually, as per Statistics Canada
                    (2022). Postgraduate studies have higher tuition fees, with MBA programs being the most expensive,
                    approximately between CAD 30,000 and CAD 42,000. Compared to other developed countries, Canada
                    offers more economical education programs and funding opportunities like scholarships, student
                    loans, bursaries, and assistantships to international students.
                </p>
                <p class="sub-heading">
                    <strong>
                        Check the following table to know the program level and the estimated tuition fee.
                    </strong>
                </p>
                <table>
                    <tr>
                        <th>S.no</th>
                        <th>Study Program</th>
                        <th>Average Annual Fee in Canadian Dollars (CAD)</th>
                        <th>Average annual Fee in Indian Rupees (INR)</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Undergraduate Program</td>
                        <td>$13000 - $20000</td>
                        <td>₹7,00,000 - ₹10,75,000</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Postgraduate Master's Degree</td>
                        <td>$17000 - $25000</td>
                        <td>₹9,00,000 - ₹13,75,000</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Doctoral Degree</td>
                        <td>$7,000 - $15,000</td>
                        <td>₹3,75,000 - ₹8,00,000</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Masters of Business Administration (MBA)</td>
                        <td>$30,000 - $40,000</td>
                        <td>₹16,00,000 - ₹21,00,000</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Foundational Courses</td>
                        <td>$20,000</td>
                        <td>₹10,75,000</td>
                    </tr>
                </table>
                <!-- Education Loan for Studying in Canada -->
                <div id="Eddloan" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Education Loan for Studying
                            <span class="study-in-canada__heading-level-two_span">
                                in Canada
                            </span>
                        </h2>
                    </div>
                </div>

                <p class="study-in-canada__heading_para">
                    The total expenses for studying in Canada are influenced by factors like the chosen program,
                    university, course duration, and living costs. To assist students who struggle to afford to study
                    and live in Canada, various banks and financial institutions extend education loans for Canada.
                    Before applying for an educational loan, reviewing the eligibility criteria is important to ensure
                    loan approval. Since different loan schemes cover different expenses, it's advisable to consult the
                    banks to understand the specific expenses and loan schemes that are applicable. Educational loans
                    typically cover various expenses, including.
                </p>

                <!-- Cost of Living in Canada -->
                <div id="costofliving" class="tudy-in-canada__heading_para_container__whystudyIncanada">
                    <div class="whystudyIncanada__heading">
                        <h2 class="study-in-canada__heading-level-two font32">
                            Cost of Living
                            <span class="study-in-canada__heading-level-two_span">
                                in Canada
                            </span>
                        </h2>
                    </div>
                </div>
                <p class="study-in-canada__heading_para">
                    The cost of living in Canada ranges from CAD 15,000 to CAD 20,000 per year. There's a notable
                    contrast in the budget of living in Canada and in one's home country. That’s why it is essential to
                    understand the lifestyle and the cost of living in Canada. Quebec stands out as an affordable
                    Canadian city with comparatively lower living costs. The cost of living in Canada involves factors
                    like food, housing, clothing, books, transportation, and recreation, with an average of
                    approximately CAD 19,000 (INR 11,62,173). All Canadian residents enjoy free healthcare services, a
                    benefit extended to permanent migrants.
                </p>
                <table>
                    <tr>
                        <th>Expenses</th>
                        <th>Cost in CAD per month</th>
                        <th>Cost in INR per month</th>
                    </tr>
                    <tr>
                        <td>Accommodation</td>
                        <td>$800 - $2500</td>
                        <td>₹42,000 - ₹1,31,000</td>
                    </tr>
                    <tr>
                        <td>Utilities (electricity, water)</td>
                        <td>$50 - $150</td>
                        <td>₹2600 - ₹7600</td>
                    </tr>
                    <tr>
                        <td>Internet</td>
                        <td>$50 - $100</td>
                        <td>₹2600 - ₹5600</td>
                    </tr>
                    <tr>
                        <td>Groceries</td>
                        <td>$200 - $400</td>
                        <td>₹10,000 - ₹20,800</td>
                    </tr>
                    <tr>
                        <td>Transportation</td>
                        <td>$90 - $120</td>
                        <td>₹4,700 - ₹6300</td>
                    </tr>
                    <tr>
                        <td>Eating Out</td>
                        <td>$10 - $25</td>
                        <td>₹500 - ₹1300</td>
                    </tr>
                    <tr>
                        <td>Mobile Phone</td>
                        <td>$50 - $100</td>
                        <td>₹2,600 - ₹5,200</td>
                    </tr>
                    <tr>
                        <td>Textbooks and Supplies</td>
                        <td>$500 - $1,000</td>
                        <td>₹26,000 - ₹52,000</td>
                    </tr>
                    <tr>
                        <td>Health Insurance</td>
                        <td>$600 - $1000</td>
                        <td>₹31,200 - ₹52,000</td>
                    </tr>
                    <tr>
                        <td>Food</td>
                        <td>$300 - $400</td>
                        <td>₹15,600 - ₹20,800</td>
                    </tr>
                    <tr>
                        <td>Entertainment</td>
                        <td>$150</td>
                        <td>₹7,800</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>

</html>