<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tab</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <!-- Tab section -->
    <section class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button id="btn1" onclick="openbtn1()" class="tab-btn">After 10th</button>
                    <button id="btn2" onclick="openbtn2()" class="tab-btn">After 12th</button>
                    <button id="btn3" onclick="openbtn3()" class="tab-btn">Abroad Study</button>
                    <div class="tab-button">

                    </div>

                    <div class="tabs-content" id="content1">
                        <div class="tabs-content-left">
                            <img src="../landing-images/banner/banner4.jpg" alt="banner" class="tab-img">
                            <h2 class="tab-secondary-heading">After 10th</h2>
                            <a href="#" class="tab-link">View more</a>

                        </div>
                    </div>


                    <div class="tabs-content" id="content2">
                        <div class="tabs-content-left">
                            <img src="../landing-images/banner/banner4.jpg" alt="banner" class="tab-img">
                            <h2 class="tab-secondary-heading">After 10th</h2>
                            <a href="#" class="tab-link">View more</a>

                        </div>
                    </div>


                    <div class="tabs-content" id="content3">
                        <div class="tabs-content-left">
                            <img src="../landing-images/banner/banner4.jpg" alt="banner" class="tab-img">
                            <h2 class="tab-secondary-heading">After 10th</h2>
                            <a href="#" class="tab-link">View more</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- tab end section -->


    <script src="../js/tabs.js"></script>

</body>

</html>